**/.idea/
**/.vscode/
**/vendor/
src/Themes/default/languages/PluginLoader/*
!src/Themes/default/languages/PluginLoader/index.php
!src/Themes/default/languages/PluginLoader/.english.php

coverage/

clover.xml
cobertura.xml

composer.lock
