.plugins {
	display: grid;
}

.plugins .windowbg {
	box-shadow: 0 -2px 2px rgba(0, 0, 0, .1) !important;
}

.plugins .windowbg:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3) !important;
}

.plugins img:hover {
	cursor: pointer;
	box-shadow: 0px 1px 5px 1px #000;
	border-radius: 100%;
}

.plugins div.floatleft {
	width: 80%;
}

.plugins div.floatleft .author_info {
	display: inline-block;
	margin-top: 10px;
	border-top: 1px solid gray;
}

.plugins div.floatleft .settings label {
	font-weight: bold;
	margin: 1em;
}

.plugins div.floatleft .settings input[type=number] {
	width: 20%;
}

.plugins div.floatleft .settings textarea {
	width: 100%;
}

.plugins div.floatright {
	margin-top: 1em;
}

.main_icons.plugin_remove::before {
	background: url(../images/icons/main_icons_sprite_hd.png) no-repeat -118px -378px;
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-top: -22px;
	margin-left: 5px;
}

.main_icons.plugin_remove:hover {
	cursor: pointer;
}
